@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');

.sidenav {
   position: fixed;
   width: 200px;
   left: 0;
   top: 0;
   margin: 0;
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
   height: 100%;
   height: calc(100% + 60px);
   height: -moz-calc(100%);
   padding-bottom: 60px;
   background-color: rgb(167, 154, 154);
   z-index: 999;
   overflow-y: auto;
   will-change: transform;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transform: translateX(-105%);
   transform: translateX(-105%);
}

.sidenav.right-aligned {
   right: 0;
   -webkit-transform: translateX(105%);
   transform: translateX(105%);
   left: auto;
   -webkit-transform: translateX(100%);
   transform: translateX(100%);
}
.sidenav-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   opacity: 0;
   height: 120vh;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 997;
   display: none;
}
ul {
   list-style-type: none;
}
.sidenav a {
   text-decoration: none;
   color: #fff;
   font-size: 12px;
   font-family: 'Roboto Slab', serif;
   font-weight: 800;
   letter-spacing: 1px;
   text-shadow: 0 0 10px #000;
}
.sidenav> * {
   margin-top: 50px;
}

.dropdown-content {
   background-color: #fff;
   margin: 0;
   display: none;
   min-width: 100px;
   overflow-y: auto;
   opacity: 0;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 9999;
   -webkit-transform-origin: 0 0;
   transform-origin: 0 0;
   border-radius: 10px;
}
.dropdown-content li a {
   color: #000;
   font-size: 12px;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
}
.dropdown-trigger {
   cursor: pointer;
}
.dropdown-content li {
   clear: both;
   color: rgba(0, 0, 0, 0.87);
   cursor: pointer;
   min-height: 50px;
   line-height: 1.5rem;
   width: 100%;
   text-align: left;
}

.nav_link {
   margin-left: 30px;
}
